.no-negative {
    margin: 0px !important;
}

.bg-transparent {
    background-color: transparent;
}


.layout.no-negative.row {
    flex-wrap: wrap !important;
}

.mousehover:hover {
    background-color: rgba(0,0,0,0.2);
}