.no-negative {
    margin: 0px !important;
}

.margin-layout {
    margin-top: 20px;
}

.breakline {
    white-space: pre-line;
}

.overflow {
    max-height: 200px;
    overflow: auto;
}

.overflow-chat {
    max-height: 400px;
    overflow: auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}