.Card .v-card {
  border: 2px solid;
  border-color: var(--v-bahama-base) !important;
}

.Card .Card.container {
  padding: 0px 0px 12px;
}

.Card .Card .v-card {
  border-top: none;
  border-left: none;
  border-right: none;
}

.centered-input-text >>> label {
  text-align: center;
}

.v-text-field--outlined > .v-input__control > .v-input__slot {
  background-color: white;
}

.v-text-field__details {
  display: none;
}

.centered-input-text > .v-input__control > .v-input__slot {
  margin-bottom: 0;
}

.p-info {
  color: var(--v-bahama-darken2);
}